/*Go get Overpass Black 900 font for h1*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*Go get Syne Regular 400 font for h2*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700&display=swap');

/*Go get Nunito Regular 400 font for p*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&family=Syne:wght@400;500;700&display=swap');
</style>

/* :root is equivalent to `html` with a higher specificity */

/* Variables defined here
  Style Guide in Code!!!
*/



body {
  margin: 0px;
}

:root {
  --primary-color: rgb(82, 167, 91); /*light yellow*/
  --secondary-color: #FFD977; /*peachy*/
  --tertiary-color: #303c6c; /*dark blue*/

--primary-font: Overpass, sans-serif;
--secondary-font: Syne, sans-serif;
--tertiary-font: Nunito, sans-serif;
}

body {
  background: white;
  margin: 0px;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

nav {
  font-family: var(--secondary-font);
  background:black;
  z-index: 2;
  margin: 0;
  padding: 0.3vw 2vw 0.3vw 1.2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 0.3);
  position: sticky; top: 0
}

nav img {
  width: 7vw;
  padding: 1.2vw;
}

nav h1 {
  justify-content: flex-start;
  flex-grow: 1;
  font-family: var(--tertiary-font);
  font-size: 3vw;
  letter-spacing: .5px;
  font-weight: 300;
  color: var(--secondary-color);
  cursor: default;
}

nav a {
  color: var(--secondary-color);
  font-size: 1.5vw;
  padding: 2vw 0.5vw;
  margin: 0px 1vw;
  position: relative;
  cursor: pointer;
  opacity: 0.8;
}

nav a:hover,
nav a:active {
  transform: scale(1.1);
  opacity: 1;
  font-weight: 600;
}

nav a:before {
  position: absolute;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  top: 0px;
  padding: 11.5px 0px;
  overflow: hidden;
  content: attr(alt);
  transition: all 0.3s;
  transform: scale(0.8);
  z-index: 0;
  opacity: 0.5;
}
