/*Go get Overpass Black 900 font for h1*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/*Go get Syne Regular 400 font for h2*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700&display=swap');

/*Go get Nunito Regular 400 font for p*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&family=Syne:wght@400;500;700&display=swap');
</style>

/* :root is equivalent to `html` with a higher specificity */

/* Variables defined here
  Style Guide in Code!!!
*/



body {
  margin: 0px;
}

:root {
  --primary-color: rgb(82, 167, 91); /*light yellow*/
  --secondary-color: #FFD977; /*peachy*/
  --tertiary-color: #303c6c; /*dark blue*/

--primary-font: Overpass, sans-serif;
--secondary-font: Syne, sans-serif;
--tertiary-font: Nunito, sans-serif;
}

body {
  background: white;
  margin: 0px;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

nav {
  font-family: var(--secondary-font);
  background:black;
  z-index: 2;
  margin: 0;
  padding: 0.3vw 2vw 0.3vw 1.2vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 0.3);
  position: sticky; top: 0
}

nav img {
  width: 7vw;
  padding: 1.2vw;
}

nav h1 {
  justify-content: flex-start;
  flex-grow: 1;
  font-family: var(--tertiary-font);
  font-size: 3vw;
  letter-spacing: .5px;
  font-weight: 300;
  color: var(--secondary-color);
  cursor: default;
}

nav a {
  color: var(--secondary-color);
  font-size: 1.5vw;
  padding: 2vw 0.5vw;
  margin: 0px 1vw;
  position: relative;
  cursor: pointer;
  opacity: 0.8;
}

nav a:hover,
nav a:active {
  transform: scale(1.1);
  opacity: 1;
  font-weight: 600;
}

nav a:before {
  position: absolute;
  color: var(--secondary-color);
  font-family: var(--primary-font);
  top: 0px;
  padding: 11.5px 0px;
  overflow: hidden;
  content: attr(alt);
  transition: all 0.3s;
  transform: scale(0.8);
  z-index: 0;
  opacity: 0.5;
}

#home-menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 3vw;
  padding-bottom: 2vw;
  cursor: default;
}

#home-menu > img {
  width: 25vw;
  grid-column-start: 2;
  opacity: 0.95;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 0.3);
}

#home-menu > .short-intro {
  grid-column: 4 / span 3;
  padding-top: 3.5vw;
}

#home-menu > .short-intro > h1 {
  font-family: var(--primary-font);
  font-size: 2.7vw;
  font-weight: 650;
  color: black;
  padding-top: 1.5em;
}

#home-menu > .short-intro > p {
  width: 36vw;
  font-size: 1.7vw;
  color: black;
}

#home-menu > .short-intro > h1 > b {
  color: var(--primary-color);
}

p {
  font-family: var(--primary-font);
  color: black;
  line-height: 1.5em;
  word-spacing: 1.5px;
}

#portfolio-menu {
  background: var(--tertiary-color);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 15vw);
  grid-wrap: wrap;
  grid-row-gap: 3vw;
  padding-bottom: 3vw;
  padding-top: 5vw;
}

#portfolio-menu h1 {
  cursor: default;
  grid-column: 1/span 10;
  grid-row-start: 1;
  font-family: var(--secondary-font);
  font-size: 3.5vw;
  font-weight: 200;
  color: var(--secondary-color);
  text-align: left;
  background: black;
   margin-left: 0vw;
  margin-right: 70vw;
  margin-top: 2vw;
  margin-bottom: 3vw;
  padding: 3vw 3vw 3vw 5vw;
}

.canvas {
  grid-column: 1/span 4;
  grid-row: 2/span 1;
  width: 40vw;
  padding: 2vw 5vw;
}

.laboratory-website-redesign {
  grid-column: 1/span 5;
  grid-row: 4/span 2;
  padding: 1vw 1vw;
}

.wikihow-app-redesign {
  grid-column: 6/span 4;
  grid-row: 2/span 3;
  padding-left: 7.8vw;
  padding-top: 15vw;
  padding-left: 13.5vw;
  width: 60%;
  height: auto;
}

.container {
  margin: 0;
  height: 100%;
}

.content {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  cursor: default;
}

.content:hover .content-overlay {
  opacity: 1;
  cursor: default;
}

.content-image {
  width: 100%;
}

.content-detail {
  position: absolute;
  text-align: center;
  align-items: center;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 0 2vw;
  cursor: default;
}

.content:hover .content-detail {
  top: 50%;
  left: 50%;
  opacity: 1;
  cursor: default;
  align-items: center;
}
h3 {
  color: var(--secondary-color);
  font-family: var(--secondary-font);
  font-weight: 500;
  letter-spacing: 0.15vw;
  text-transform: uppercase;
  font-size: 1.5vw;
  cursor: default;
}

.content-detail p {
  color: white;
  font-family: var(--primary-font);
  font-size: 1vw;
  font-weight: 500;
  padding: 0 2vw 1.5vw 2vw;
  letter-spacing: 0.01vw;
  cursor: default;
}

.content-link {
    background: #cac9c9;
    box-sizing: border-box;
    border-radius: 1vw;
padding:.3vw .8vw; 
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1vw;
    color:var(--tertiary-color);
    text-decoration: none;
}

.content-link:hover {
  background: var(--tertiary-color);
  box-sizing: border-box;
  border-radius: 1vw;
padding:.3vw .8vw; 
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 1vw;
  color:#dbd8d8;
  text-decoration: none;
}

.fadein-bottom {
  top: 100%;
}

#about-menu {
  padding-top: 5vw;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  align-items: center;
}

#about-menu h1 {
  cursor: default;
  grid-column: 1/span 10;
  grid-row-start: 1;
  font-family: var(--secondary-font);
  font-size: 3.5vw;
  font-weight: 200;
  color: var(--secondary-color);
  text-align: left;
  background: black;
   margin-left: 0vw;
  margin-right: 70vw;
  margin-top: 2vw;
  margin-bottom: 3vw;
  padding: 3vw 3vw 3vw 9vw;
}

#about-menu p {
  font-family: var(--primary-font);
  font-size: 1.2vw;
  color: black;
  line-height: 2.25vw;
  padding-left: 4vw;
  cursor: default;
}

#about-menu img { 
  height: 30vw;
  padding-top: 1.8vw;
  padding-left: 5vw;
}

#contact-menu {
  background: var(--tertiary-color);
  color: var(--tertiary-color);
  font-family: var(--primary-font);
  align-items: center;
  max-width: 100%;
  padding: 3vw;
  padding-top: 10vw;
}

#contact-menu h1 {
  cursor: default;
  font-family: var(--secondary-font);
  font-size: 3.5vw;
  font-weight: 200;
  color: var(--secondary-color);
  text-align: left;
  background: black;
   margin-left: -5vw;
  margin-right: 55vw;
  margin-top: 2vw;
  margin-bottom: 3vw;
  padding: 3vw 7vw 3vw 7vw;
}

#contact-menu > .contact-left {
  grid-column-start: 1;
  padding-left: 2vw;
  max-width: 100%;
}

#contact-menu > .contact-left > p {
  font-family: var(--primary-font);
  font-size: 1.2vw;
  cursor: default;
  opacity: 0.8;
  line-height: 2em;
  width: 100vw;
  font-family: black;
  font-size: 1.5vw;
}

#contact-menu form {
  margin: 1em 0px;
  width: 50vw;
  max-width: 100%;
  justify-content: center;
}

#contact-menu > .contact-left > form > button {
  max-width: 100%;
  font-size: 1.1vw;
  background: var(--tertiary-color);
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 0.3);
  color: white;
  font-family: var(--primary-font);
  font-weight: 600;
  padding: 12px;
  margin-right: -25px;
  cursor: pointer;
}

#contact-menu form input,
#contact-menu form textarea {
  border: 1px solid var(--tertiary-color);
  background: var(--secondary-color);
  border-radius: 4px;
  font-family: var(--primary-font);
  font-size: 1.1vw;
  color: var(--tertiary-color);
  padding: 12px;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
}

#contact-menu form input:focus,
#contact-menu form textarea:focus {
  border: 1.5px solid var(--tertiary-color);
}

footer{
  background: black;
  padding: 1vw;
  cursor: default;
}

footer p{
    color: var(--secondary-color);
    font-family: var(--primary-font);
  text-align: center;
  font-size: 1.2vw;
  font-weight: 600;
  letter-spacing: .05vw;
}

/* How-To Bamboo App CSS */

.project-title {
  background: var(--tertiary-color);
    text-align: center;
    height: 35vw;
    width:100%;
}

.project-title h1 {
  color: white;
  font-size: 3.5vw;
  font-weight: 600;
    font-family: var(--primary-font);
    margin-top: 0px;
    padding: 12vw 1vw 1vw 1vw;
}

.project-title h4 {
  color: white;
  font-size: 2vw;
  font-weight: 400;
    font-family: var(--primary-font);
opacity: 80%;
  }

  .info-title h3 {
    cursor: default;
    font-family: var(--secondary-font);
    font-size: 2vw;
    font-weight: 600;
    color: var(--secondary-color);
    text-align: center;
    background: black;
    padding: 3vw 0vw 3vw 0vw;
    margin: 0px;
  }

  .project-overview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

.project-overview > .proto {
  grid-column-start: 2;
}

.image-new-right {
  width: 100%;
  height: auto;
}

.project-overview > .info-left {
  grid-column-start: 1;
  padding: 2vw 5vw 0vw 5vw;
  margin-bottom: 3vw;
}

.descrip p {
  cursor: default;
  font-family: var(--tertiary-font);
  font-size: 1.5vw;
  font-weight: 400;
  color: black;
  text-align: left;
  padding: 1vw 0vw 1vw 0vw;
  margin: 2px;
}

.descrip h3 {
  color: var(--primary-color);
}

.info-left h4 {
  font-family: var(--secondary-font);
  font-size: 1.5vw;
  font-weight: 500;
  color: black;
  text-align: left;
  padding: 0vw 0vw 0vw 0vw;
  margin: 3px 0px 0px 0px;
  opacity: 70%;
  padding-top: 2vw;
}

.info-left h4 .item-1 {
  font-family: var(--secondary-font);
  font-size: 1.5vw;
  font-weight: 500;
  color: black;
  text-align: left;
  padding: 0vw 0vw 0vw 0vw;
  margin: 3px 0px 0px 0px;
  opacity: 70%;
  padding-top: 1vw;
}

.info-left ul {
  font-family: var(--tertiary-font);
  font-size: 1.5vw;
  font-weight: 400;
  color: black;
  text-align: left;
  padding: 0vw 0vw 0vw 2.5vw;
  margin: 3px 0px 0px 0px;
}

.info-left li {
  padding-bottom: .2vw;
  margin-bottom: 3px;
}

/*Challange Section of Bamboo*/

.project-challange {
  background: var(--tertiary-color);
  display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr;
}

.project-challange-canvas {
  background: var(--tertiary-color);
}

.challange-image {
  grid-column-start: 1/span 1;
width: 100%;
height: 100%;
padding-right: 3vw
}

.info-right {
  grid-column-start: 2/span 1;
  padding: 2vw 5vw 2vw 5vw;
}

.info-right h3 {
  cursor: default;
  font-family: var(--secondary-font);
  font-size: 2vw;
  font-weight: 600;
  color: white;
  text-align: center;
  padding: 1vw 0vw 1vw 0vw;
  margin: 2px;
}

.info-right h4 {
  font-family: var(--secondary-font);
  font-size: 1.60vw;
  font-weight: 500;
  color: rgb(241, 239, 239);
  text-align: left;
  padding: 0vw 0vw 0vw 0vw;
  margin: 3px 0px 0px 0px;
  padding-top: 0vw;
}

.info-right > .summary {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
}

.info-right p {
  font-family: var(--primary-font);
  font-size: 1.75vw;
word-spacing:1.5px;
  font-weight: 400;
  color: rgb(241, 239, 239);
  text-align: left;
  padding: 1vw 0vw 2vw 0vw;
  margin: 3px 0px 0px 0px;
}

.info-right ul {
  font-family: var(--primary-font);
  font-size: 1.75vw;
  font-weight: 400;
  color: white;
  text-align: left;
  padding: 0vw 0vw 0vw 2.5vw;
  margin: 3px 0px 0px 0px;
}

.info-right li {
  padding-bottom: 1vw;
}

.info-right b {
  color: var(--secondary-color);
  font-weight: 400;
}


/* Project Solution*/
.info-summary {
  font-family: var(--secondary-font);
  color: black;
  font-size: 1.75vw;
  text-align: center;
  padding: 0vw 5vw 0vw 5vw;
}

.info-summary hr {
  width: 60vw;
  background: var(--tertiary-color);
}

.project-solution {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 2vw;
}

.project-solution > .image-left {
  grid-column-start: 1;
}

.project-solution > .image-right {
  grid-column-start: 2/span 1;
}

.project-results > p {
  padding: 0vw 5vw 0vw 5vw;
}

.image-left {
  height: auto;
  width: 90%;
}

.image-right {
  height: auto;
  width: 89%;
}

.project-takeaway {
background: var(--tertiary-color);
margin-top: 0vw 0vw 5vw 0vw;
padding: 0vw 5vw 5vw 5vw;
}

.project-takeaway p {
  font-family: var(--secondary-font);
  color: white;
  font-size: 1.85vw;
  text-align: left;
  padding: 5vw 5vw 0vw 5vw;
  margin: 0px;
}

.more-projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 5vw;
}

button {
  max-width: 100%;
  font-size: 1.5vw;
  background: var(--secondary-color);
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 0.3);
  color: black;
  font-family: var(--primary-font);
  font-weight: 600;
  padding: 12px;
  cursor: pointer;
  margin: 1.5vw;
}

h4 {
  text-align: center;
  font-family: var(--primary-font);
  font-size: 2vw;
  font-weight: 500;
  color: black;
  padding: 0vw 0vw 0vw 0vw;
  margin: 3vw 0vw 4vw 0vw;
  padding-top: 0vw;
}

/* Canvas Usability CSS*/
.info-summary > .left-paragraph {
  text-align: left;
}

.added-solution {
padding: 3vw;
}

.added-solution > h4 {
  padding: 0.5vw 6vw 0.5vw 6vw;
  margin: 0px;
}

.added-solution > h5 {
  padding: 0.5vw 6vw 0.5vw 6vw;
  margin: 0px;
  font-family: var(--primary-font);
  font-size: 1.1em; 
}

.added-solution > p {
  padding: 1vw 2vw .5vw 2vw;
  font-size: 1.75vw;
  margin: 0px;

}

.added-solution > ul {
  padding: 1vw 2vw .5vw 25vw;
  margin: 0px;
  font-family: var(--primary-font);
  font-size: 1em;
}

.added-solution > hr {
  width: 60vw;
  background: var(--tertiary-color);
}

.split-text {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.split-text > .text-left {
  grid-column-start: 1;
}

.split-text > .text-right {
  grid-column-start: 2/span 1;
}

ul {
  padding: 1vw 8vw 2vw 9vw;
  margin: 0px;
  font-family: var(--primary-font);
  font-size: 1em;
}

ul ul {
  margin: 0px;
  padding: 0vw 0vw 0vw 5vw;
}

h5 {
 padding: 0.5vw 2vw 0.5vw 3vw;
 margin: 0px;
 font-family: var(--primary-font);
 font-size: 1.1em;
 color: var(--tertiary-color);
}

.project-results > hr {
  width: 60vw;
}
